
body{

background: black;



}


#gamer{

 height: 50vh;
 width: 100vw;
 


}
.tarifler{
 text-align: center;

 font-family: Georgia, 'Times New Roman', Times, serif;
 
  color: white;

  text-decoration: underline;

}
.center{
 
 columns: 3;
 
 color: wheat;

}
 h2{

 text-align: center;
 color: red;
  text-decoration: underline;
  font-size: 2rem;

 }

.lol{

 width: 50%;
 height: 20rem;
 border-radius: 12rem;
 border-style: ridge;
 background-color: red;
 display: block; 
 margin-left: auto;
 margin-right: auto;
 


}
.time{

 color: whitesmoke;
 font-size: 5rem;
 text-align: center;
 
}
.about{

 color: blanchedalmond;
 text-align: center;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.look{

 color: antiquewhite;

}
.sarma{
 display: block;
 margin-left: auto;
 margin-right: auto;




}

.baslık{


color: turquoise;
text-align: center;
text-decoration: underline;


}
.asdf{
text-align: left;
color: aquamarine;
text-decoration: underline;


}
.bobber{

 color: white;


}
.jfk{

color: blue;



}